<nav class='home'>
  <a><img id='signin-button' src='./images/signin.png'></a>
  <a><img id='menu-button' src='./images/menu-button.png'></a>
</nav>

<div>
  <img id='home-logo' src='./images/google-books-logo.png' />
</div>

<div id='home-search'>
  <input id='home-searchbar' type='text' ng-model='search' autofocus />
  <a ui-sref='results' ng-click='getBook(search)'><img id='search-button' src='./images/search-button.png'></a>
</div>

<p class='home'>Search the world's most comprehensive index of full-text books.</p>
<p class='my-library'><a class='my-library' href=''>My library</a></p>

<footer>
  <ul class='left-footer'>
    <a href='https://books.google.com/intl/en/googlebooks/privacy.html'>Privacy</a>
    <a href='https://books.google.com/intl/en/googlebooks/tos.html'>Terms</a>
    <a href='https://support.google.com/websearch/answer/43729?hl=en&visit_id=1-636315041158757722-3954512581&rd=1'>Help</a>
  </ul>

  <ul class='right-footer'>
    <a href='http://books.google.com/support/partner/?hl=en'>Publishers</a>
    <a href='https://books.google.com/intl/en/googlebooks/about/index.html'>About</a>
  </ul>

</footer>
